.wrapper {
  width: 1642px;
}

.searchWrapper {
  width: 294px;
}

.tokenDropdownWrapper {
  width: 294px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05);
}

.tokenCardWrapper {
  @apply inline-flex mr-22px align-top last:mr-0;
}

.form {
  padding: 37px 10px 10px 86px;
}

.tableForm {
  margin-top: 151px;
}

.tokenWrapper {
  @apply h-110px rounded-full bg-white border-3 bg-gray-260 flex items-center px-30px;
  width: 48.5%;
}

.graphicFormWrapper {
  width: 48.5%;
  height: 392px;
}

.fieldInfoWrapper {
  @apply inline-flex align-top;
  width: 31.5%;
}

.title {
  @apply font-medium text-22px tracking-normal text-gray-800 uppercase;
}