.wrapper {
  height: 68px;
  border-radius: 34px;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.8);

  padding-left: 34px;
}

.menuLinkWrapper {
  padding: 0 25px;

  &:last-child {
    margin-right: 11px;
  }
}

.menuSubLinkWrapper {
  border-radius: 18px;

  padding: 8px 17px;

  margin-bottom: 8px;

  &:hover {
    background: rgba(255, 255, 255, 0.8);
  }
}

.menuLink {
  @apply text-gray-400 font-medium text-sm ;
}

.walletBtn {
  border-radius: 30px;
  padding: 0 25px;
}

.walletText {
  padding-right: 15px;
}

.menuDropdown {
  width: 187px;
  top: 33px;
  left: -84px;
  border-radius: 22px;

  backdrop-filter: blur(50px);
  //background-color: rgba(255, 255, 255, 0.8);
  background-color: #F1F1F1;

  &Active {
    padding-top: 34px;
    padding-bottom: 24px;
  }
}